#sh_content_tit{
	margin-bottom:20px;
	overflow:hidden
}
#sh_content_tit:after{
	clear:both
}
#sh_content_tit h3{
	float:left;
	padding:0;
	font-size:2.1em;
	line-height:1.3em;
	color:#fff;
	font-weight:none;
	letter-spacing:-0.03em
}
#sh_content_tit span{
	float:right;
	margin-top:12px;
	padding-left:15px;
	color:#666
}
.detailnotice {
	width: 98%;
	padding-left: 1%;
}
.topnav {
	position: relative;
}
.datetime {
	float: left;
	color: white;
}
.list {
	float: right;
}
.tableclass {
	padding-top: 60px;
}
.btncolor {
	background-color:red;
}
table {
	position: relative;
	margin: auto;
	width: 98%;
	height: auto;
	float: center;
}
table, th, td {
	border: 2px solid #444444;
	border-collapse: collapse;

}
th, td {
	padding: 5px;
	color: #858585;
	text-align: left;
}