<div id="sh_content_tit">
	<h3>오시는길</h3>
	<span>HOME > About > 오시는길 </span>
</div>
<hr>
<p>구주소 : 강원 강릉시 왕산면 왕산리 156</p>
<p>신주소 : 강원 강릉시 왕산면 왕산로 2172-14</p>

<div class="aligncenter">
	<agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom">
		<agm-marker [latitude]="lat" [longitude]="lng">
			<agm-info-window>
	          <p class="address">강원 강릉시 왕산면 왕산로 2172-14</p>
	        </agm-info-window>
		</agm-marker>
	</agm-map>
</div>
<br/>
<p>자가용<br/>경기 서울 지역 출발자<br/>영동고속도로(강릉방면) - 강릉IC – 성산방면진입 -(35국도 임계, 태백 방면) - 대기리방면 진입후 약 6.3Km(용화사 입구)에서 진행 방향으로 약 150m정도 오신 후 좌측으로 진입하시면 됩니다. (강릉 커피박물관 커피커퍼 반대편 진입로)</p>
<p>대중교통<br/>강릉 시외버스 터미널에서 성산면 마을까지 택시를 타고 오시면 픽업가능</p>