<div id="sh_content_tit">
	<h3>예약안내</h3>
	<span>HOME > Room View > 예약안내 </span>
</div>
<div class="payinfo">
	<h4>요금안내</h4>
	<table>
		<tr >
			<td class="payinfotd" rowspan="2" style="text-align: center; padding-right: 18px;">객실명</td>
			<td class="payinfotd" rowspan="2" style="text-align: center; padding-right: 18px;">유형</td>
			<th class="payinfotd" colspan="2">인원</th>
			<th class="payinfotd" colspan="2">비수기</th>
			<th class="payinfotd" colspan="2">성수기</th>
		</tr>
		<tr>
			<th class="payinfotd">기준</th>
			<th class="payinfotd">최대</th>
			<th class="payinfotd">주중</th>
			<th class="payinfotd">주말</th>
			<th class="payinfotd">주중</th>
			<th class="payinfotd">주말</th>
		</tr>
		<tr>
			<th class="payinfotd">나무사이</th>
			<th class="payinfotextcolor">원룸(온돌룸+주방+화장실)</th>
			<th class="payinfotextcolor">2</th>
			<th class="payinfotextcolor">4</th>
			<th class="payinfotextcolor">80,000</th>
			<th class="payinfotextcolor">100,000</th>
			<th class="payinfotextcolor">150,000</th>
			<th class="payinfotextcolor">150,000</th>
		</tr>
		<tr>
			<th class="payinfotd">구름위에</th>
			<th class="payinfotextcolor">원룸(온돌룸+주방+화장실)</th>
			<th class="payinfotextcolor">2</th>
			<th class="payinfotextcolor">4</th>
			<th class="payinfotextcolor">80,000</th>
			<th class="payinfotextcolor">100,000</th>
			<th class="payinfotextcolor">150,000</th>
			<th class="payinfotextcolor">150,000</th>
		</tr>
		<tr>
			<th class="payinfotd">초원위에</th>
			<th class="payinfotextcolor">침대룸+거실+주방+화장실</th>
			<th class="payinfotextcolor">4</th>
			<th class="payinfotextcolor">6</th>
			<th class="payinfotextcolor">120,000</th>
			<th class="payinfotextcolor">150,000</th>
			<th class="payinfotextcolor">200,000</th>
			<th class="payinfotextcolor">200,000</th>
		</tr>
		<tr>
			<th class="payinfotd">별빛가득</th>
			<th class="payinfotextcolor">침대룸+거실+주방+화장실</th>
			<th class="payinfotextcolor">4</th>
			<th class="payinfotextcolor">6</th>
			<th class="payinfotextcolor">120,000</th>
			<th class="payinfotextcolor">150,000</th>
			<th class="payinfotextcolor">200,000</th>
			<th class="payinfotextcolor">200,000</th>
		</tr>
		<tr>
			<th class="payinfotd">새벽숲속</th>
			<th class="payinfotextcolor">온돌룸+거실+주방+화장실</th>
			<th class="payinfotextcolor">6</th>
			<th class="payinfotextcolor">8</th>
			<th class="payinfotextcolor">200,000</th>
			<th class="payinfotextcolor">230,000</th>
			<th class="payinfotextcolor">300,000</th>
			<th class="payinfotextcolor">300,000</th>
		</tr>
	</table>
</div>

<div class="seasoninfo">
	<h4>성수기안내</h4>
	<table>
		<tr>
			<th>·여름 성수기 - 7월 1일 ~ 8월 31일<br />
				·겨울 성수기 - 12월 24일, 12월 31일<br />
				·주중/주말 안내 : 금,토요일은 주말요금이 적용됩니다.(월~목, 일요일은 주중요금)<br/>
				·공휴일 전날은 주말요금이 적용됩니다.<br />
			</th>
		</tr>
	</table>
</div>
<div class="reservationinfo">
	<h4>예약문의</h4>
	<table>
		<tr>
			<th>- 이용일 8일전 : 전액 환불처리<br />
			    - 이용일 5~7일전 : 90% 환불처리<br />
			    - 이용일 4일전 : 80% 환불처리<br />
			    - 이용일 3일전 : 70% 환불처리<br />
			    - 이용일 2일전 : 50% 환불처리<br />
			    - 이용일 1일전 : 30% 환불처리<br />
			    - 이용일 당일전 예약 취소시는 환불불가합니다.
			</th>
		</tr>
	</table>
</div>
<div class="reservationcheck">
	<h4>예약시 체크리스트</h4>
	<table>
		<tr>
			<th>- 입실퇴실 시간 : 입실 PM 03:00 / 퇴실 AM 11:00<br />
			    - 바베큐 숯불/그릴이용: 2인기준 20,000원<br />
			    - 픽업서비스 : 픽업서비스는 펜션지기의 스케쥴 조절을 위해 예약시 미리 말씀해주시면 이용가능합니다.
			</th>
		</tr>
	</table>
</div>
<div class="basic">
	<h4>기본사항</h4>
	<table>
		<tr>
			<th>- 예약신청은 예약금 전액을 입금하셔야 완료 됩니다.<br />
			    - 예약신청을 기점으로 12시간 내에 입금을 원칙으로 하며, 미입금시 자동으로 취소처리 됩니다.<br />
			    - 저희 사나래펜션에서는 애완견 동반입실이 불가능합니다.
			</th>
		</tr>
	</table>
</div>
<div class="notice">
	<h4>유의사항</h4>
	<table>
		<tr>
			<th>- 오시는 길에 비 포장도로가 있을 수 있습니다.<br />
			    - 낮은 외제차량이나 튜닝차량은 이용 전에 도로 상태를 확인해 주세요.<br />
			    - 네비게이션에 펜션 주소를 찍으면 지방이라 엉뚱한 곳으로 갈 수 있습니다.<br />
			    - 가급적 펜션 명을 찍으시고 검색이 되지 않을 경우, 펜션 주와 통화하셔서 정확한 위치를 파악해 주세요.<br />
			    - 대중교통 배차 시간은 계속 바뀌는 사항입니다. 반드시 해당 터미널 및 역에 문의하세요.<br/>
			    - 픽업 여부에 픽업이 가능으로 되어있더라도 관광지 픽업은 해당되지 않습니다.<br/>
			    - 미성년자는 법적인 보호자 동의 없이 입실 및 혼숙이 불가능 합니다.<br/>
			    - 펜션 내 기물을 파손하거나 갖고 가실 경우, 펜션마다 정해진 규정에 따라 손해 배상을 하셔야 합니다.
			</th>
		</tr>
	</table>
</div>
<div class="reservationinfo">
	<h4>환불규정</h4>
	<table>
		<tr>
			<th>- 이용일 8일전 : 전액 환불처리<br />
			    - 이용일 5~7일전 : 90% 환불처리<br />
			    - 이용일 4일전 : 80% 환불처리<br />
			    - 이용일 3일전 : 70% 환불처리<br />
			    - 이용일 2일전 : 50% 환불처리<br />
			    - 이용일 1일전 : 30% 환불처리<br />
			    - 이용일 당일전 예약 취소시는 환불불가합니다.
			</th>
		</tr>
	</table>
</div>