<div id="sh_content_tit">
	<h3>경포대해수욕장</h3>
	<span>HOME > Room View > 경포대해수욕장 </span>
</div>
<div class="leftphoto">
	<img [src]="leftphoto"/>
</div>
<div class="rightphoto">
	<div class="rightphoto1">
		<img [src]="rightphoto1" />
	</div>
	<div class="rightphoto2">
		<img [src]="rightphoto2" />
	</div>
</div>
<div class="tourtext">
	<h3>경포대해수욕장</h3>
	<p>경포대는 강원도유형문화재 제6호로 관동팔경의 하나입니다.<br/>호반 서쪽의 작은 언덕 위에 세워진 경포대는 예로부터 경포호를 배경으로 유명합니다.<br/>경포호는 호수 주위의 오래 된 소나무 숲과 벚나무가 유명하며, 경포호를 동해로부터 분리시키고 있는 해안사주는 경포해수욕장을 이루고 있습니다.	</p>
</div>