<div id="sh_content_tit">
	<h3>참소리박물관</h3>
	<span>HOME > Room View > 참소리박물관 </span>
</div>
<div class="leftphoto">
	<img [src]="leftphoto"/>
</div>
<div class="rightphoto">
	<div class="rightphoto1">
		<img [src]="rightphoto1" />
	</div>
	<div class="rightphoto2">
		<img [src]="rightphoto2" />
	</div>
</div>
<div class="tourtext">
	<h3>참소리박물관</h3>
	<p>세계60여 개국을 돌며 수집한 축음기 및 뮤직박스, 라디오, TV 4,000여점과 관련자료 15만점이 전시되어 있는 소장품 규모면에서는 세계최대의 박물관입니다.<br/>가이드의 안내로 설명을 직접 들을 수 있으며, 음악 감상실에서는 최신 오디오 시스템으로 음악감상을 하실 수 있습니다.</p>
</div>