<div class="container">
	<h4>예약일자</h4>
	<ic-datepicker class="datepicker" options="datepickerOptions" (dateChange)="onDatepickerDateChange($event)"></ic-datepicker>
	<br />
	<h4>예약가능한방</h4>
	<select class="abc" [(ngModel)]="roomselect" (ngModelChange)="updateSelectedValue($event)">
		<option  *ngFor = "let room of roomlist">{{room.name}}</option>
	</select>
	<br />
	<br />
	<h4>예약자성함</h4>
	<input type="text" [(ngModel)]="nameselect"/>
	<br />
	<h4>예약자핸드폰번호</h4>
	<input type="text" [(ngModel)]="phoneselect"/>
	<br />
	<h4>예약자인원</h4>
	<select [(ngModel)]="personselect" (ngModelChange)="updateSelectedpersonValue($event)">
		<option *ngFor="let person of personarray">{{person}}</option>
	</select>
	<br />
	<h4>총가격</h4>
	<input type="text" [(ngModel)]="payselect"/> 숫자만 입력해주세요
	<br />
	<h4>메모</h4>
	<textarea name="wr_content" cols="100" rows="5" [(ngModel)]="memoselect"></textarea>
	<br/>
	<br />
	<br/>
	<a class="btn btn-default" (click)="reservationwrite()">예약완료</a>
</div>