<div id="sh_content_tit">
	<h3>대관령양떼목장</h3>
	<span>HOME > Room View > 대관령양떼목장 </span>
</div>
<div class="leftphoto">
	<img [src]="leftphoto"/>
</div>
<div class="rightphoto">
	<div class="rightphoto1">
		<img [src]="rightphoto1" />
	</div>
	<div class="rightphoto2">
		<img [src]="rightphoto2" />
	</div>
</div>

<div class="tourtext">
	<h3>대관령양떼목장</h3>
	<p>
대관령양떼목장의 부드러운 능선과 야생 식물로 가득 차있는 습지대는 자연 그대로의 모습을 간직하고 
있기에 더욱 아름답고 신기하기만 합니다.<br /> 
푸른 초지가 바람에 흔들거리는 아름다운 목장의 능선에서 양들이 한가로이 풀을 뜯고 있는 모습을 
보고 있으면 마치 알프스에 와 있는듯한 착각을 불러 일으키지요. <br />

특히 봄, 여름, 가을, 겨울 그리고 시시각각 변하는 목장의 모습을 통해 자연의 신비로움과 아름다움을 
몸소 느낄 수도 있습니다. </p>
</div>