<div id="sh_content_tit">
	<h3>커피박물관</h3>
	<span>HOME > Room View > 커피박물관 </span>
</div>
<div class="leftphoto">
	<img [src]="leftphoto"/>
</div>
<div class="rightphoto">
	<div class="rightphoto1">
		<img [src]="rightphoto1" />
	</div>
	<div class="rightphoto2">
		<img [src]="rightphoto2" />
	</div>
</div>
<div class="tourtext">
	<h3>커피박물관</h3>
	<p> 커피커퍼 커피박물관은 전 세계의 다양하고 진귀한 커피유물을 전시하여 세계 각국의 독특한 커피의 역사와 문화를 전합니다.<br/> 단순히 마시는 음료의 범주를 넘어 우리 생활 속 기호식품으로 자리한 커피를 제대로 이해하고, 소통하고, 체험하는 공간입니다.<br/> 커피유물 전시와 커피나무 재배에서부터 한 잔의 커피가 탄생하기까지의 모든 과정을 직접 체험하는 곳입니다.<br/>
커피커퍼 커피농장은 국내 최초로 상업용 국내산 커피가 생산된 의미 있는 농장입니다. <br/>강원도 강릉시 왕산면에 자리한 커피커퍼 커피농장에서 지난 십여년 간의 경험과 전문적인 기술력을 토대로 재배된 커피나무들을 만날 수 있습니다.</p>
</div>